In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import plot_roc_curve
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import mean_squared_error

df_train = pd.read_csv('train_final.csv')
df_test = pd.read_csv('test_final.csv')

In [2]:
target = df_train["Y"]
id = df_test["Id"].values

df_train.drop(['Id','Y'],axis=1,inplace=True)
df_test.drop(['Id'],axis=1,inplace=True)

In [3]:
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score

para = { 'learning_rate': 0.03, 'n_estimators':400, 'max_depth': 4, "random_state":35 ,"verbose":0, "border_count":70, "boosting_type":"Ordered", "class_weights":[0.55,0.45]}
#para = { 'learning_rate': 0.03, 'n_estimators':400, 'max_depth': 4, "random_state":35 ,"verbose":0, "border_count":70, "boosting_type":"Ordered"}


catboost = CatBoostClassifier(**para)
#catboost =  CatBoostClassifier(depth=4,iterations=500,logging_level='Silent',subsample=0.8,bootstrap_type='MVS',eval_metric='AUC')

catboost.fit(df_train, target)

y_proba = catboost.predict_proba(df_train)
print(roc_auc_score(target, y_proba[:,1]))


y_pred = catboost.predict(df_train)

score = (accuracy_score(target, y_pred)) * 100
print("Accuracy score is %.2f%%" % score)

score = cross_val_score(catboost, df_train, target, scoring="roc_auc", cv=5)
print ("Cross validation score for catboost: ",np.mean(score)*100)

0.9468901278840219
Accuracy score is 87.98%
Cross validation score for catboost:  90.13474653536677

In [4]:
# 0.9468901278840219
# Accuracy score is 87.98%
# Cross validation score for catboost:  90.13474653536677

In [5]:
new_train = pd.concat([df_train,df_test])
new_train

,2,3,4,5,6,7,8,9,10,11,...,375,376,377,378,379,380,381,382,383,384
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,5973.0,0,1,3,-0.235477,-0.093838
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,2,473.0,0,1,1,-2.325332,2.415668
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,7901.0,0,1,1,-2.042686,5.651419
3,0,0,0,0,0,1,0,0,1,0,...,0,0,0,1,4115.0,0,1,10,-6.372442,-2.935490
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,2,6325.0,0,2,6,-2.684353,-0.024926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3599,0,0,0,0,0,1,1,0,1,0,...,0,0,0,2,6634.0,0,2,3,-0.579300,0.318358
3600,0,0,-3121,0,0,1,0,0,1,0,...,0,0,0,6,2575.0,0,2,1,2.505088,-1.695397
3601,0,0,0,0,0,0,0,0,1,0,...,0,0,0,4,6685.0,0,1,1,0.817482,1.208855
3602,0,1,0,0,0,0,0,0,1,0,...,0,0,0,2,912.0,0,1,3,-2.430533,2.704082
3603,0,0,0,0,0,0,0,0,1,0,...,0,0,0,4,-1295.0,0,1,42,0.700659,1.000000

In [6]:
new_train = new_train.reset_index(drop=True)

In [7]:
new_train

,2,3,4,5,6,7,8,9,10,11,...,375,376,377,378,379,380,381,382,383,384
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,5973.0,0,1,3,-0.235477,-0.093838
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,2,473.0,0,1,1,-2.325332,2.415668
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,7901.0,0,1,1,-2.042686,5.651419
3,0,0,0,0,0,1,0,0,1,0,...,0,0,0,1,4115.0,0,1,10,-6.372442,-2.935490
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,2,6325.0,0,2,6,-2.684353,-0.024926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6202,0,0,0,0,0,1,1,0,1,0,...,0,0,0,2,6634.0,0,2,3,-0.579300,0.318358
6203,0,0,-3121,0,0,1,0,0,1,0,...,0,0,0,6,2575.0,0,2,1,2.505088,-1.695397
6204,0,0,0,0,0,0,0,0,1,0,...,0,0,0,4,6685.0,0,1,1,0.817482,1.208855
6205,0,1,0,0,0,0,0,0,1,0,...,0,0,0,2,912.0,0,1,3,-2.430533,2.704082
6206,0,0,0,0,0,0,0,0,1,0,...,0,0,0,4,-1295.0,0,1,42,0.700659,1.000000

In [8]:
sub_proba = catboost.predict_proba(df_test)

pred_y = sub_proba[:,1]
new_target = np.concatenate((target,pred_y))
#new_target = np.c_[new_id, new_target]

In [9]:
full_target = pd.DataFrame(new_target)

In [10]:
full_target

             0
0     0.000000
1     1.000000
2     0.000000
3     0.000000
4     0.000000
...        ...
6202  0.171742
6203  0.027070
6204  0.005372
6205  0.050801
6206  0.035892

[6207 rows x 1 columns]

In [13]:
# from sklearn.linear_model import LogisticRegression
# log_reg=LogisticRegression().fit(new_train, full_target)
# para = { 'learning_rate': 0.03, 'n_estimators':50, 'max_depth': 4, "random_state":35 ,"verbose":0, "border_count":70, "boosting_type":"Ordered"}


# catboost_new = CatBoostClassifier(itera)
# #catboost =  CatBoostClassifier(depth=4,iterations=500,logging_level='Silent',subsample=0.8,bootstrap_type='MVS',eval_metric='AUC')


# catboost_new.fit(new_train, full_target)

# y_proba = catboost.predict_proba(new_train)
# print(roc_auc_score(full_target, y_proba[:,1]))


# y_pred = catboost.predict(new_train)

# score = (accuracy_score(full_target, y_pred)) * 100
# print("Accuracy score is %.2f%%" % score)

# score = cross_val_score(catboost, new_train, full_target, scoring="roc_auc", cv=5)
# print ("Cross validation score for catboost: ",np.mean(score)*100)

In [ ]:
# pred_col=np.c_[id,sub_proba[:,1]]
# submission = pd.DataFrame(pred_col, columns = ['Id','Y'])
# submission["Id"] = submission["Id"].astype("Int32")

# submission.to_csv('post1submission.csv', index=False)

In [ ]:
import xgboost as xgb
from sklearn.ensemble import StackingClassifier
from sklearn.ensemble import RandomForestClassifier
estimators = [
     ('cbc', catboost),
     ('xbc', xgb.XGBClassifier(n_estimators=7,objective="binary:logistic", random_state=42)),
     ('rf', RandomForestClassifier(n_estimators=50,max_depth=9, max_features='auto',random_state=10, bootstrap=True))
     ]
clf = StackingClassifier(
     estimators=estimators, final_estimator=catboost)
clf.fit(df_train, target)
#

In [ ]:
y_proba = clf.predict_proba(df_train)
print(roc_auc_score(target, y_proba[:,1]))


y_pred = clf.predict(df_train)

score = (accuracy_score(target, y_pred)) * 100
print("Accuracy score is %.2f%%" % score)

score = cross_val_score(clf, df_train, target, scoring="roc_auc", cv=5)
print ("Cross validation score for catboost: ",np.mean(score)*100)

In [ ]:
#Cross validation score for catboost:  90.09188090928161
#Cross validation score for catboost:  90.15506302693342
#Cross validation score for catboost:  90.28990034650384

In [ ]:
sub_proba = clf.predict_proba(df_test)
pred_col=np.c_[id,sub_proba[:,1]]

submission = pd.DataFrame(pred_col, columns = ['Id','Y'])
submission["Id"] = submission["Id"].astype("Int32")
submission.to_csv('stack1submission.csv', index=False)

In [ ]:
xgb1 = xgb.XGBClassifier(n_estimators=7,objective="binary:logistic", random_state=42)

xgb1.fit(df_train, target)

y_proba = xgb1.predict_proba(df_train)
print(roc_auc_score(target, y_proba[:,1]))


y_pred = xgb1.predict(df_train)

score = (accuracy_score(target, y_pred)) * 100
print("Accuracy score is %.2f%%" % score)

score = cross_val_score(xgb1, df_train, target, scoring="roc_auc", cv=5)
print ("Cross validation score for catboost: ",np.mean(score)*100)

In [ ]:
# 0.9263485124406788
# # Accuracy score is 88.44%
# Cross validation score for catboost:  87.80627206177736
random_state=42

In [ ]:
rf = RandomForestClassifier(n_estimators=50,max_depth=9, max_features='auto', bootstrap=True,random_state=10)
rf.fit(df_train, target)

y_proba = rf.predict_proba(df_train)
print(roc_auc_score(target, y_proba[:,1]))


y_pred = rf.predict(df_train)

score = (accuracy_score(target, y_pred)) * 100
print("Accuracy score is %.2f%%" % score)

score = cross_val_score(rf, df_train, target, scoring="roc_auc", cv=5)
print ("Cross validation score for catboost: ",np.mean(score)*100)

In [ ]:
#Cross validation score for catboost:  77.25859596717115