In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import plot_roc_curve
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import mean_squared_error

df_train = pd.read_csv('train_final.csv')
df_test = pd.read_csv('test_final.csv')

In [3]:
target = df_train["Y"]
id = df_test["Id"].values

df_train.drop(['Id','Y'],axis=1,inplace=True)
df_test.drop(['Id'],axis=1,inplace=True)

In [21]:
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score

para = { 'learning_rate': 0.03, 'n_estimators':400, 'max_depth': 4, "random_state":35 ,"verbose":0, "border_count":70, "boosting_type":"Ordered", "class_weights":[0.55,0.45]}

catboost = CatBoostClassifier(**para)
#catboost =  CatBoostClassifier(depth=4,iterations=500,logging_level='Silent',subsample=0.8,bootstrap_type='MVS',eval_metric='AUC')

catboost.fit(df_train, target)

y_proba = catboost.predict_proba(df_train)
print(roc_auc_score(target, y_proba[:,1]))


y_pred = catboost.predict(df_train)

score = (accuracy_score(target, y_pred)) * 100
print("Accuracy score is %.2f%%" % score)

score = cross_val_score(catboost, df_train, target, scoring="roc_auc", cv=5)
print ("Cross validation score for catboost: ",np.mean(score)*100)

0.9468901278840219
Accuracy score is 87.98%
Cross validation score for catboost:  90.13474653536677

In [ ]:
0.9468901278840219
Accuracy score is 87.98%
Cross validation score for catboost:  90.13474653536677

In [4]:
new_train = df_train + df_test

In [5]:
new_train

,2,3,4,5,6,7,8,9,10,11,...,375,376,377,378,379,380,381,382,383,384
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,2.0,8148.0,0.0,2.0,4.0,-0.039792,-0.788294
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,...,0.0,1.0,0.0,3.0,6140.0,0.0,2.0,7.0,-3.114726,3.574838
2,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,2.0,11399.0,0.0,2.0,4.0,-4.760535,4.471647
3,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,5.0,8580.0,0.0,2.0,14.0,-4.418554,-2.178739
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,15.0,2357.0,0.0,3.0,7.0,2.418067,-2.598559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
sub_proba = catboost.predict_proba(df_test)
pred_col=np.c_[id,sub_proba[:,1]]

submission = pd.DataFrame(pred_col, columns = ['Id','Y'])
submission["Id"] = submission["Id"].astype("Int32")
submission

        Id         Y
0     2604  0.060650
1     2605  0.071617
2     2606  0.021078
3     2607  0.014043
4     2608  0.782579
...    ...       ...
3599  6203  0.171742
3600  6204  0.027070
3601  6205  0.005372
3602  6206  0.050801
3603  6207  0.035892

[3604 rows x 2 columns]

In [18]:
submission.to_csv('post1submission.csv', index=False)