# <p style="text-align: center;">Business Data Science</p>
# <p style="text-align: center;">HW 2</p>

In [1]:
import numpy as np
import pandas as pd
import glob
import os

from scipy.stats import percentileofscore
from collections import defaultdict
from operator import add
from pyspark.mllib.feature import HashingTF, IDF
import math, random

year = input("Enter year:")
k = int(input("Enter k:"))
#year = './Names/yob' + year + '.txt'


#df = pd.read_csv(year, index_col=None, header=0)
#year=2015
chosenYear = pd.read_csv("Names/yob%s.txt" % year ,names = ["Name", "Gender","Number"])

#df.loc[df['Name'] == name]

chosenYear['Name'].value_counts().head(k)

Enter year:2015
Enter k:10

Emma      2
Chase     2
Karson    2
Nino      2
Lyrick    2
Sully     2
Nix       2
Taygen    2
Stone     2
Wyatt     2
Name: Name, dtype: int64

In [2]:
chosenYear.head(5)

       Name Gender  Number
0      Emma      F   20355
1    Olivia      F   19553
2    Sophia      F   17327
3       Ava      F   16286
4  Isabella      F   15504

In [3]:
#part 2

path = r'Names/'                     # use your path
all_files = glob.glob(os.path.join(path, "*.txt"))

li = []

for filename in all_files:
    date = filename.replace('Names/yob','').replace('.txt','')

    df = pd.read_csv(filename, index_col=None, header=0,names = ["Name", "Gender","Number"])
    df['year'] = date
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)
name = input("Enter name to evaluate for men and women:")
namesumF = df.loc[df['Name'] == name].loc[df['Gender']=='F'].Number.sum()
print("The name ",name," is repated",namesumF, " times for Females")

namesumM = df.loc[df['Name'] == name].loc[df['Gender']=='M'].Number.sum()
print("The name ",name," is repated",namesumM, " times for Males")

Enter name to evaluate for men and women:Sara
The name  Sara  is repated 419025  times for Females
The name  Sara  is repated 1236  times for Males

In [4]:
#Calculate frequency of name but per year
def nameFreqByYear(name):
    
    #getting people with same name and gender in chosen year
    maleCol = chosenYear['Number'].loc[(chosenYear['Name'] == name) & (chosenYear['Gender'] == 'M')]
    femaleCol = chosenYear['Number'].loc[(chosenYear['Name'] == name) & (chosenYear['Gender'] == 'F')]

    if maleCol.empty is False:
        maleCount = maleCol.values[0]
    else:
        maleCount = 0
    
    if femaleCol.empty is False:
        femaleCount = femaleCol.values[0]
    else:
        femaleCount = 0
        
    return maleCount,femaleCount

In [5]:
#method to calculate relative frequency as mapped to total names
def relativeFreq(name):
    maleCount,femaleCount = nameFreqByYear(name)
    
    sumByYear = np.sum(chosenYear,axis=0)[2]
    ansMale = maleCount/sumByYear
    ansFemale = femaleCount/sumByYear
    
    return ansMale,ansFemale

In [6]:
#method for frequency per year    
def freqPerYear(name,flag):
    ret = []
    for year in range(1880, 2016):
        chosenYear['year'] = year
        if not flag:
            maleFrequency, femaleFrequency = nameFreqByYear(name)
            chosenYear.loc[(chosenYear['Name'] == name) & (chosenYear['year'] == year) & (chosenYear['Gender'] == 'M'), 'Frequency'] = maleFrequency
            chosenYear.loc[(chosenYear['Name'] == name) & (chosenYear['year'] == year) & (chosenYear['Gender'] == 'F'), 'Frequency'] = femaleFrequency
        else:
            maleFrequency, femaleFrequency = relativeFreq(name)
            chosenYear.loc[(chosenYear['Name'] == name) & (chosenYear['year'] == year) & (chosenYear['Gender'] == 'M'), 'Frequency'] = maleFrequency
            chosenYear.loc[(chosenYear['Name'] == name) & (chosenYear['year'] == year) & (chosenYear['Gender'] == 'F'), 'Frequency'] = femaleFrequency
            
            
    ret.append(chosenYear.loc[(chosenYear['Name'] == name) & (chosenYear['year'] == year),('year', 'Name', 'Frequency', 'Gender')])
    ret = pd.concat(ret)
    return ret

In [7]:
#answer for part 3
relativeFrequencyForName = freqPerYear('Sara', flag=True)
print("The relative frequency for chosen name that is Sara in chosen year: \n",relativeFrequencyForName)

The relative frequency for chosen name that is Sara in chosen year:
      year  Name  Frequency Gender
161  2015  Sara   0.000535      F

In [8]:
#Part 4


#method to loop over given year file
def getDataForYear(year):
    ret = pd.read_csv("Names/yob%s.txt" % year ,names = ["Name", "Gender","Number"])
    return ret


#calculates names that were popular for M and then swicthed to F and vice versa
def namesPopularitySwitch():
    ret = []
    
    #loop over every year
    for year in range(1880,2016):
        temp = getDataForYear(year)
        temp['Year'] = year
        ret.append(temp)
        
    
    ret = pd.concat(ret)
    
    #assign change column 
    ret["change"] = ret["Gender"].map({'M':1,'F':-1})
    ret["change"] = ret["change"] * ret["Number"]
    
    #drop year info
    ret = ret.groupby(["Name","Year"]).sum()
    ret = ret.reset_index().drop('Year',1)
    
    #assign extreme values
    ret = ret.groupby('Name').agg({'change':['min','max']})
    ret.columns = ['min', 'max']
    
    
    #create new switch column if there was flag switch in name and remove rest
    ret['switch'] = (np.sign(ret["min"] * ret['max']) == -1)
    ret = ret[ret['switch']].reset_index()
    
    return ret['Name'].values


print(namesPopularitySwitch())

['Aalijah' 'Aamari' 'Aaren' ... 'Zy' 'Zyaire' 'Zyian']

/var/folders/gp/xs_xkf814zx898m2wdld0hw40000gn/T/ipykernel_7876/2697093693.py:29: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  ret = ret.reset_index().drop('Year',1)